<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415507642527-gm6klcl1ths97ona0slkh1kq0u32lk59.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415507642527-gm6klcl1ths97ona0slkh1kq0u32lk59</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>415507642527-1itl00mu37289j38qv9mln5j12e9s1t6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBL3piYPcyMflDVHwVrHFPHvlGDxr_6Oyw</string>
	<key>GCM_SENDER_ID</key>
	<string>415507642527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lamma</string>
	<key>PROJECT_ID</key>
	<string>lama--app</string>
	<key>STORAGE_BUCKET</key>
	<string>lama--app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415507642527:ios:cbabcc22cdeca86778caaa</string>
</dict>
</plist>